@use 'variables' as *;

// 1. 严格重置 (Reset)
* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  height: 100%; width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: $bg-color;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

ul, li { list-style: none; }
button { font-family: inherit; outline: none; }

// 2. 滚动条美化
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #bdc3c7; border-radius: 3px; }